body {
    background-color: palevioletred;
    font-family: "Helvetica", sans-serif;
    padding: 5%;
}

h1 {
    background-color: plum;
}

a, a:visited {
    text-decoration: none;
    color: black;
}

ul {
    list-style-type: circle;
}

ol {
    list-style-type: armenian;
}

img.food {
    height: 100px;
    width: auto;
}